@model FireCodingDesign.Models.ShareDataModel
@* @model IEnumerable<FireCodingDesign.Models.AdministrationModel> *@

@* @{
    ViewData["Title"] = "Index";
}
 *@
<h1>Administration Index</h1>

@*
<p>
    <a asp-action="Create">Create New</a>
</p> 
*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUserAndRoleList.FirstOrDefault().Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IdentityUserAndRoleList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
