@model IEnumerable<FireCodingDesign.Models.WorkOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

@* <form asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="SelectedDepartmentId" class="control-label"></label>
        <select asp-for="SelectedDepartmentId" asp-items="new SelectList(Model.Departments, "Id", "DepartmentName")" class="form-control">
            <option value="">All Departments</option>
        </select>
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>
 *@


<form asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="@Model.FirstOrDefault().Departments" class="control-label"></label>
        <select asp-for="@Model.FirstOrDefault().DepartmentId" asp-items='new SelectList(Model.FirstOrDefault().Departments, "Id", "DepartmentName")' class="form-control">
            <option value="@Model.FirstOrDefault().DepartmentName"></option>
        </select>
        <span asp-validation-for="@Model.FirstOrDefault().DepartmentName" class="text-danger"></span>
        <input type="submit" value="Filter" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageData != null)
                    {
                        <img height="100px" src="@item.ImageDataThumbnail" alt="Thumbnail" />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDoneDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderNumber">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderNumber">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderNumber">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

