@model IEnumerable<FireCodingDesign.Models.Order>

@{
    ViewData["Title"] = "Index";
}
@* Order Index*@
<h1>Order Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDoneDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td><a href="d:\programming course\c#\slutproject\firecodingdesign\firecodingdesign\views\orders\edit.cshtml">d:\programming course\c#\slutproject\firecodingdesign\firecodingdesign\views\orders\edit.cshtml</a>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDoneDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
