@model FireCodingDesign.Models.ShareDataModel
@* @model IEnumerable<FireCodingDesign.Models.Company> *@

@{
    ViewData["Title"] = "Index";
}
@* Company Index *@

<h1>Company Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyList.FirstOrDefault().OrganizationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CompanyList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
